server:
  port: 10010
spring:
  application:
    name: api-gateway
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:10086/eureka
    registry-fetch-interval-seconds: 5
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port}

zuul:
  prefix: /api # 添加路由前缀
  retryable: true
  routes:
    item-service: /item/** #商品微服务
    #http://192.168.228.1:10010/api/item/category/list?pid=0
    #经过zuul转发
    #http://item-service/category/list?pid=0
    #http://127.0.0.1:9081/category/list?pid=0
  ignored-services:
    - upload-service

ribbon:
  eureka:
    enabled: true  #开启eureka的ribbon功能
  ConnectTimeout: 250 # 连接超时时间(ms)
  ReadTimeout: 2000 # 通信超时时间(ms)

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMillisecond: 10000 # 熔断超时时长：10000ms